{% extends 'base.html' %}
{% load static %}


{% block body %}

<div class="row justify-content-center my-5">
    <div class="col-4">
        <h2 class="py-4">Giriş Yap</h2>
        
        {% if messages %}
            <ul>
                {% for i in messages %}
                    <li class="text-danger">{{ i }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            
        <form method="POST">
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="text" name="username" id="form2Example1" class="form-control py-2" />
                <label class="form-label" for="form2Example1">Email & Kullanıcı Adı</label>
            </div>
        
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="password" id="form2Example2" class="form-control py-2" />
                <label class="form-label" for="form2Example2">Şifre</label>
            </div>
        
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Beni Hatırla </label>
                    </div>
                </div>
        
                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Şifremi Unuttum</a>
                </div>
            </div>
        
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Giriş Yap</button>
        
            <!-- Register buttons -->
            <div class="text-center">
                <p>Giriş Yapmak için <a href="{% url 'registerUser' %}">Kaydol</a></p>
                <p>Sosyal linkler</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>
        
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>
        
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>
        
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </form>
    </div>
</div>
    
{% endblock body %}
    