{% extends 'base.html' %}
{% load static %}


{% block css %}
    <style>
        .cascading-right {
            margin-right: -50px;
        }
    
        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>
{% endblock css %}
    

{% block body %}
    
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    

    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Kayıt Ol</h2>
                        
                        {% if messages %}
                            <ul>
                                {% for i in messages %}
                                    <li class="text-start" style="color: red;">{{ i }}</li>   
                                {% endfor %}
                            </ul>
                        {% endif %}
                            
                        <form method="POST">
                            {% csrf_token %}
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" name="name" id="form3Example1" class="form-control py-2" />
                                        <label class="form-label" for="form3Example1">Ad</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" name="surname" id="form3Example2" class="form-control py-2" />
                                        <label class="form-label" for="form3Example2">Soyad</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" name="email" id="form3Example3" class="form-control py-2" />
                                <label class="form-label" for="form3Example3">Email address</label>
                            </div>
                            <!-- Username input -->
                            <div class="form-outline mb-4">
                                <input type="text" name="username" id="form3Example5" class="form-control py-2" />
                                <label class="form-label" for="form3Example5">Kullanıcı Adı</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" name="password1" id="form3Example4" class="form-control py-2" />
                                <label class="form-label" for="form3Example4">Şifre</label>
                            </div>
                            <!-- Re Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" name="password2" id="form3Example4" class="form-control py-2" />
                                <label class="form-label" for="form3Example4">Yeniden Şifre</label>
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33"
                                    checked />
                                <label class="form-check-label" for="form2Example33">
                                    Kullanım koşullarını kabul ediyorum
                                </label>
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Kaydol
                            </button>
                            
                            <p>Zaten bir hesabım var <a href="{% url 'loginUser' %}">Giriş Yap</a></p>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>or sign up with:</p>
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
                    alt="" />
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

{% endblock body %}
    