{% extends 'base.html' %}
{% load static %}



{% block css %}
<style>
    h2 {
        text-align: left;
        font-weight: bold;
    }

    .hero-image {
        height: 100%;
    }

    .hero-text {
        background-color: rgba(0, 0, 0, 0.700);
        width: 500px;
        top: 50%;
    }

    .hero-text2 {
        width: 75%;
        margin: auto;
    }

    .form-control {
        background-color: rgba(102, 102, 102, 0.377);
        border: none;
        color: gray;
    }

    .p-grey {
        color: grey;
    }

    .con-footer {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.700);
    }

    @media screen and (max-width: 700px) {
        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url(img/arkaplan.jpg);
        }
    }
</style>
{% endblock css %}


{% block nonheader %}
<div class="hero-image">
    <!-- navbar -->
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'img/netflix_logo.png' %}" alt=""></a>
        </div>
    </nav>

    <div class="hero-text">
        <!-- form -->
        <form method="POST" class="hero-text2 mt-5 mb-5">

            {% if messages %}

            {% for i in messages %}
            <p class="text-danger">{{ i }}</p>
            {% endfor %}

            {% endif %}

            {% csrf_token %}
            <h2>Oturum Aç</h2>

            <div class="mb-3">
                <input type="text" name="name" class="form-control form-control-lg mt-2" placeholder="Ad">
                <input type="text" name="surname" class="form-control form-control-lg mt-2" placeholder="Soyad">
                <input type="text" name="email" class="form-control form-control-lg mt-2" placeholder="E-posta">
                <input type="text" name="username" class="form-control form-control-lg mt-2" placeholder="Kullanıcı adı">
                <input type="password" name="password1" id="" class="form-control form-control-lg mt-2" placeholder="Şifre">
                <input type="password" name="password2" id="" class="form-control form-control-lg mt-2" placeholder="Tekrar Şifre">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-danger btn-lg" type="submit">Kaydol</button>
            </div>

            <p class="p-grey">
                <br>
                <a href="{% url 'loginUser' %}">Giriş yapmak için tıkla.</a>
                <br>
            </p>
        </form>
    </div>
</div>
{% endblock nonheader %}