{% extends 'base.html' %}
{% load static %}


{% block body %}
    <main>
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-8">
                    <div class="list-group">

                        {% for i in sozluks %}
                        <a href="/detay/{{ i.id }}/" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ i.title }}</h5>
                                <small>{{ i.date_now }}</small>
                            </div>
                            <p class="mb-1">Some placeholder content in a paragraph.</p>
                            <small>And some small print.</small>
                        </a>
                        {% endfor %}
                        <div class="pagination">
                            <span class="step-links">
                                {% if sozluks.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ sozluks.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ sozluks.number }} of {{ sozluks.paginator.num_pages }}.
                                </span>
                        
                                {% if sozluks.has_next %}
                                <a href="?page={{ sozluks.next_page_number }}">next</a>
                                <a href="?page={{ sozluks.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if sozluks.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="?page={{ sozluks.previous_page_number }}">previous</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ sozluks.number|add:'-1' }}">{{ sozluks.number|add:"-1" }}</a></li>
                                {% endif %}

                                <li class="page-item"><a class="page-link" href="?page={{ sozluks.number }}">{{ sozluks.number }}</a></li>
                                
                                {% if sozluks.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ sozluks.number|add:'1' }}">{{ sozluks.number|add:"1" }}</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ sozluks.next_page_number }}">next</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ sozluks.paginator.num_pages }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>

                    </div>
                </div>
                {% include 'part/_sidenav.html' %}
            </div>
        </div>
    </main>
{% endblock body %}
    
    
